<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - LAM blogpost</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid"><a class="navbar-brand text-monospace" style="font-size:2rem" href="/">LAM
                        blog</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span
                            class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/blog.html"><i
                                        class="fa fa-user"></i>&nbsp;Show Blog</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </nav>

    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="jumbotron"
                            style="background-image: url(&quot;assets/img/photo-1523724581292-f6c3a950b7ba.jpeg&quot;);">
                            <div class="row" style="opacity: 1;">
                                <div class="col">
                                    <p
                                        style="color: #ffffff;font-size: 34px;font-family: Lato, sans-serif;text-shadow: 0  0 3px  #000;font-weight: bold;">
                                        <br>Hello! We are a team of three awesome friends and team mates. This is our
                                        group project assign to us by our great mentors and TAs. This is a group effort
                                        combined together to form something that 'll keep you interested
                                        engough to hang around<br><br></p>
                                </div>
                            </div>
                            <p><a href="/blog.html" class="btn btn-primary mt-5" role="button"
                                    style="width: 211px; padding: 13px;font-size: 25px;color: rgb(255,255,255);">Start
                                    App</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <div class="container bg-white">
                <div class="row no-gutters bg-white">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover bg-white text-center"><a href="#"><img
                                class="rounded-circle img-fluid image" src="assets/img/laura.jpg" width="80%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover bg-white text-center"><a href="#"><img
                                class="rounded-circle img-fluid image" src="assets/img/testimonials-2.jpg"
                                width="80%"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover bg-white text-center"><a href="#"><img
                                class="rounded-circle img-fluid image" src="assets/img/matt.jpg" width="80%"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>OUR MAIN TEChnologies</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-social-buffer"></i>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Full - Stack</h3>
                                <p class="card-text">This is project is full full-stacked starting from front-end to the
                                    back-end. Using mentioned technologies and tool to buil it.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-android-apps"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Bootstrap / Responsive</h3>
                                <p class="card-text">Our LAM app is styled with css frame Bootstrap that give this app a
                                    nice look and responsiveness on all known devices</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i
                                    class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Hosting / Heroku</h3>
                                <p class="card-text">This project is hosted on heroku</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-soup-can"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Mysql / ClearDB / CRUD</h3>
                                <p class="card-text">Mysql locally and ClearDb remotely plays a great role in creating,
                                    retrieving, updating and deleting the data. &nbsp;CRUD</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Express</h3>
                                <p class="card-text">Our favorite and friend server provider, express. Never get tired
                                    of writing that express line unlimited time.&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i
                                    class="icon ion-ios-grid-view-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title"><strong>Sequelize-cli MVC</strong><br></h3>
                                <p class="card-text">One of the best and easy to learn and master MVC archectrue
                                    provider and Best for migration.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="portfolio-block website gradient">
        <div class="container">
            <div class="row">
                <a href="https://github.com/adnanniaz77/project2.git">
                    <div class="col"><i class="fa fa-github" style="font-size: 2rem; color: #fff;"></i>
                </a></div>
        </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>